$bg-white:#F5F3F4;

$text-color:rgba(18, 16, 12, 0.70);
$btn-color:#FFAE33;
$btn-color-org:#FC6D26;
$btn-color-sec:#FFB0AE;
$black:#12100C;
$white:#F9F9F9;

$gray:#999795;

$ff:"Roboto", sans-serif;



